.CartWidget{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 30vh;
    max-height: 70vh;
    border: 5px solid black;
}

.CartWidget h1{
    color: rgb(82, 31, 31);
}

